增強賦值運算

In [1]:
a = 8
b = a
print('b is a : ', b is a)
a += 2
print(a)
print('b is a : ', b is a)

b is a :  True
10
b is a :  False

In [2]:
name = 'Jeremy'
name += ' Lin'
print(name)

Jeremy Lin

In [3]:
seeds = ['sesame', 'sunflower']
seeds += ['pumpkin', 10, 15.123]
print(seeds)

['sesame', 'sunflower', 'pumpkin', 10, 15.123]

In [4]:
seeds = ['sesame', 'sunflower']
seeds += 10  # iterable object is required
print(seeds)

TypeError: 'int' object is not iterable

In [5]:
seeds = ['sesame', 'sunflower']
seeds += 'cherry'
print(seeds)

['sesame', 'sunflower', 'c', 'h', 'e', 'r', 'r', 'y']

拆開序列運算符(*)

In [6]:
first, *rest = [9, 2, -4, 8, 7]
print('first:',first)
print('rest:',rest)

first: 9
rest: [2, -4, 8, 7]

In [2]:
first, *mid, last = "Charles Philip Arthur George Windsor".split()
print('first:',first)
print('mid:',mid)
print('last:',last)

first: Charles
mid: ['Philip', 'Arthur', 'George']
last: Windsor

In [8]:
*directories, executable = "/usr/local/bin/gvim".split("/")
print('directories:', directories)
print('executable:', executable)

directories: ['', 'usr', 'local', 'bin']
executable: gvim

In [5]:
def product (a, b, c):
    return a * b * c
print('test1: ', product(2, 3, 5))
L = [2, 3, 5]
print('test2: ', product(*L))
print('list',L)
print('*list',*L)
print('test3: ', product(2, *L[1:]))
print(*L[1:])

test1:  30
test2:  30
list [2, 3, 5]
*list 2 3 5
test3:  30
3 5

Quiz

In [10]:
a = 5
a += 12.7
a *= 2
a -= 6.16
print(a)

29.24

In [11]:
text = list('ABCDEFG')
t1,t2,*t3,t4,t5 = text
print(t3)

['C', 'D', 'E']

tuple

In [12]:
t1 = tuple(["venus", -28, "green", "21", 19.74]) #turn list to tuple
l1 = list(t1) # turn tuple to list
t2 = ("venus", -28, "green", "21", 19.74)
t3 = "venus", -28, "green", "21", 19.74
print(t1)
print(l1)
print(t2)
print(t3)

('venus', -28, 'green', '21', 19.74)
['venus', -28, 'green', '21', 19.74]
('venus', -28, 'green', '21', 19.74)
('venus', -28, 'green', '21', 19.74)

In [13]:
t4 = tuple('apple')
t5 = 'apple',
print(t4)
print(t5)

('a', 'p', 'p', 'l', 'e')
('apple',)

In [7]:
#不可變的(無法取代或刪除資料)
t1 = ("venus", -28, "green", "21", 19.74)
l1 = ["venus", -28, "green", "21", 19.74]
#t1[1] = 101
l1[1] = 101
print(l1)
#del t1[1]
del l1[1]
print(l1)

['venus', 101, 'green', '21', 19.74]
['venus', 'green', '21', 19.74]

In [29]:
fruit = ('apple', 'pear', 'cherry', 'banana')
print(fruit[1:3])
fruit2 = (fruit[:2], 'mango', fruit[2:])
print(fruit2)
#fruit3 = fruit[:2] + ('mango') + fruit[2:]
fruit3 = fruit[:2] + ('mango',) + fruit[2:]
print(fruit3)

('pear', 'cherry')
(('apple', 'pear'), 'mango', ('cherry', 'banana'))
('apple', 'pear', 'mango', 'cherry', 'banana')
1 2 3 4

In [20]:
fruit = ('apple', 'pear', 'cherry', 'banana')
meat = ('pork', 'beef', 'chicken', 'lamb')
food = (meat, fruit)
print(food)
food[1][1:-1]

(('pork', 'beef', 'chicken', 'lamb'), ('apple', 'pear', 'cherry', 'banana'))

('pear', 'cherry')

In [21]:
things = (1, -7.5, ("pea", (5, "Xyz"), "queue"))
things[2][1][1][2]

'z'

具名元組(named tuple)

In [30]:
MANUFACTURER, MODEL, SEATING = (0, 1, 2)
MINIMUM, MAXIMUM = (0, 1)
aircraft = ("Airbus", "A320-200", (100, 220))
aircraft[SEATING][MAXIMUM]

220

In [31]:
import collections
Sale = collections.namedtuple("Sale","productid customerid date quantity price")
sales = [] 
sales.append(Sale(432, 921, "2008-09-14", 3, 7.99))
sales.append(Sale(419, 874, "2008-09-15", 1, 18.49))
print(sales[0][-1])
print(sales[0].price)

7.99
7.99

In [16]:
import collections
Aircraft = collections.namedtuple("Aircraft","manufacturer model seating")
Seating = collections.namedtuple("Seating", "minimum maximum")
aircraft = Aircraft("Airbus", "A320-200", Seating(100, 220))
print(aircraft.seating.maximum)
print("{0} {1}".format(aircraft.manufacturer, aircraft.model))
print("{0.manufacturer} {0.model}".format(aircraft))

220
Airbus A320-200
Airbus A320-200

Quiz

In [20]:
import collections
Student = collections.namedtuple('Student','ID name major person_info')
person_info = collections.namedtuple('person_info','age high weight')
Students = []
Students.append(Student('13579','David','ES',person_info(20, 170.5, 79.5)))
Students.append(Student('13588','Peter','EE',person_info(21, 172.5, 75.5)))
#print(Students)
#print(Students[0].name)
#print(Students[1].person_info.high)
print(Students[1].high)

AttributeError: 'Student' object has no attribute 'high'